.exercise {
    display: flex;
    height: calc(100vh - 50px);
    justify-content: center;
    align-items: center;
    &__container {
        height: 500px;
        width: 840px;
        padding: 20px 40px;
        &-title {
            text-align: center;
        }
        h1{
            font-size: calc(var(--font-size-base) * 2);
            color: var(--text-primary);
        }
        p {
            padding-bottom: 25px;
        }
        button {
            background-color: var(--background-secondary);
            color: var(--text-secondary);
            height: 40px;
            width: 40px;
            float: right;
            transform: translateY(-40px);
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }

    }
    &__output {
        margin-top: 30px;
        padding-bottom: 50px;
        overflow-y: scroll;
        height: 300px;
        width: 100%;
        &-square {
            text-align: justify;
            background-color: #c3c6cc;
            border-radius: 2px;
            padding: 4px 6px;
            display: inline-block;
            margin: 6px 16px 6px 0;
        }
    }
    &__error {
        color: var(--text-error);
    }
}
.movies {
    overflow-y: hidden;
    height: calc(100vh);
    margin-bottom: 100px;
    h1 {
        color: var(--dark-gray-secondary);
        font-size: 18px;
        margin-bottom: 22px;
        margin-top: 0px;
    }
    &__scrollable {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 800px;
        margin-top: 60px;
        padding-bottom: 120px;
          &::-webkit-scrollbar {
            width: 5px;
            height: 186px;
          }
          &::-webkit-scrollbar-track {
            background-color: transparent;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #c4c4c4;
            border-radius: 3px;
          }
    }
    &__search {
        width: 366px;
        height: 40px;
        border-radius: 12px;
        border: 0.5px solid #BCBCBC;
        padding: 0px 14px;
        &-icon {
            transform: translate(-34px , 4px);
    
        }
        &:focus {
            outline: none;
            border: 1px solid #BCBCBC;
        }
    }
    &__filter {
        margin-left: 10px;
        height: 40px;
        width: 40px;
        padding: 10px;
        display: inline-block;
        border-left: 1px solid #BCBCBC;
        border-right: 1px solid #BCBCBC;
        cursor: pointer;
    }
    &__sort {
        display: inline-block;
        margin-left: 23px;
        color: #6D6E70;
        height: 40px;
        cursor: pointer;
        &-icon {
            transform: translateY(4px);
            margin-left: 10px;
        }
    }
}